Format: 3.0 (quilt)
Source: steamos-xpad-dkms
Binary: steamos-xpad-dkms
Architecture: all
Version: 0.3-0md0.14.04.2
Maintainer: Marc Deslauriers <marc.deslauriers@canonical.com>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8), dkms
Package-List: 
 steamos-xpad-dkms deb contrib/kernel extra
